.produtos {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 30px;
  margin-bottom: 30px;
}

.card {
  margin-top: 30px;
  margin-bottom: 30px;
}
